<div class="card">
  <div class="card-block">
    <div class="card-title">
      <h3><%= article.title %></h3>
    </div>
    <div class="card-body">
      <%= @markdown.render(article.body).html_safe %>
    </div>
    <div class="card-footer" style="margin-left:-1.25rem;margin-right:-1.25rem;margin-bottom:-1.25rem;background:white">
    <div class="btn-group-justified">
      
      <%= link_to 'Remove', article, class: 'btn btn-danger',method: :delete, data: { confirm: 'Are you sure?' } %>
      <%= link_to 'Edit', edit_article_path(article), class: 'btn btn-default' %>
      <%= link_to 'Comment', article, class: 'btn btn-default' %>
      
      </div>
    </div>
  </div>
</div>
     
