<nav class="navbar navbar-light bg-faded">
  <a class="navbar-brand" href="/">Toan's blog</a>
  <ul class="nav navbar-nav">
      <li class="nav-item active"> 
        <a class="nav-link" href="#">Home</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">About</a>
      </li>
      <li class="nav-item">
        <%= link_to 'New Article', new_article_path, class: "nav-link" %>
      </li>   
  </ul>
  <%= form_tag(@articles_path, :method => "get", id: "search-form", class: "form-inline pull-xs-right") do %>
    <%= text_field_tag :search, params[:search], placeholder: "Search articles", class: "form-control" %>
    <%= submit_tag "Search" , class: "btn btn-outline-success"%>
  <% end %>

</nav>
<div class="container">
  <p id="notice"><%= notice %></p>
  <br>
  <h1>Ruby On Rails Class</h1>
  <h3>Coderschool Assignment</h3>
  <br>

  <div class="row">
    <div class="col-sm-8 col-xs-12">
      <% @articles.each do |article| %>        
       <%= render article %>
      <% end %>      
      <% if @articles.present? %>
        <% render @articles %>
      <% else %>
          <h4 style="margin-top:40px;margin-bottom:40px"> sorry there are no posts containing the tearm: "<%= params[:search] %>"!</h4>
      <% end %>

  <br>
    </div>

  
</div>
